.notes {
  // Design
  background-color: #fff;

  // Layout
  display: flex;
  flex-direction: column;

  // Header
  & > *:first-child {
    flex-grow: 0; // Don't grow
    //flex-basis: 55px; probably not needed
    flex-shrink: 0; // Don't shrink
  }

  // Cards
  & > *:nth-child(2) {
    flex-grow: 1; // Grow
    flex-shrink: 1; // Shrink
  }
}
