.notes {
  // Layout
  display: flex;
  flex-direction: column;

  .notesHeader {
    flex-grow: 0; // Don't grow
    flex-shrink: 0; // Don't shrink
  }

  .notesCards {
    flex-grow: 1; // Grow
    flex-shrink: 1; // Shrink
  }
}
