@import "../../variablels_margin";
@import "../../variablels_color";
@import "../../variablels_size";
@import "../../variables_sidebar_icon";

.noteHeader {
  // Size
  width: 100%;
  height: $header-height;

  // White space
  padding-left: $outer-margin-left-and-right * 2 + $sidebar-icon-line-width;
  padding-right: $outer-margin-left-and-right / 4;
  margin-bottom: 3px; // Push down the content to make space for the shadow

  // Layout the content
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  // Design
  background-color: #fff;
  box-shadow: 0 3px 6px $shadow-color;

  .label {
    // Layout
    flex-grow: 1; // Grow this box
    flex-shrink: 1; // Shrink

    // Text Layout
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Design
    font-size: $font-size-large;
    font-weight: bold;
    color: $label;
  }

  .newBtn, .menuBtn {
    // Layout
    flex-grow: 0; // Don't grow
    flex-shrink: 0; // Don't shrink
    flex-basis: $icon-distance-size; // Adjust the location
    text-align: center;
  }
}
