@import '../../variablels_size';
@import '../../variablels_color';

.noteHeaderMoveNoteButton {
  // Layout
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .label {
    // White space
    margin-left: 8px;

    // Text Layout
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Design
    font-size: $font-size-large;
    color: $link;
  }
}
