.note {
  // Layout
  display: flex;
  flex-direction: column;

  .noteHeader, .noteControlPanel {
    flex-grow: 0; // Don't grow
    //flex-basis: 55px; probably not needed
    flex-shrink: 0; // Don't shrink
  }

  .noteEditor {
    flex-grow: 1; // Grow
    flex-shrink: 1; // Shrink
  }
}
