// The area of icons that can be clicked or tapped
$icon-area-size: 35px;

// Distance/Interval of each icon button in the right of the header(s)
$icon-distance-size: 42px;

// Font sizes
$font-size: 16px;
$font-size-large: 20px;

// Sidebar size
$sidebar-size: 280px;
