@import "responsiveness";
@import "variablels_color";
@import "variables_sidebar_icon";
@import "variables_transition";

/*
 Sidebar Icon
*/

.sidebarIcon {
  z-index: 9; // to be in front of the sidebar.
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-icon-line-width;
  height: $sidebar-icon-height;
  margin-top: $sidebar-icon-margin-top;
  margin-left: 16px;
  transition: 0.3s;
  cursor: pointer;

  span {
    position: absolute;
    left: 0; // 'top' is set for individual span (line)
    height: $sidebar-icon-line-thickness;
    width: 100%;
    background-color: $link;
    transform: rotate(0deg);

    // Animation
    transition: 0.3s;
  }

  span:nth-child(1) {
    top: 0; // Top
  }

  span:nth-child(2), span:nth-child(3) {
    top: $sidebar-icon-line-spacing; // Place both in the center overlaid.
  }

  span:nth-child(4) {
    top: $sidebar-icon-line-spacing*2; // Bottom
  }

  &.isActive {
    span:nth-child(1), span:nth-child(4) {
      // Move to the center (for animation) and shrink to hide (with animation made by `transition`)
      top: $sidebar-icon-line-spacing;
      left: 50%;
      width: 0;
    }

    span:nth-child(2) {
      transform: rotate(45deg)
    }

    span:nth-child(3) {
      transform: rotate(-45deg)
    }
  }

  @include desktop {
    & {
      display: none;
    }
  }
}

/*
 Sidebar (Wrapper)
*/
.sidebarWrapper {
  height: 100%;
  width: 282px;
  position: fixed;
  z-index: 8; // to be front of the other objects.
  top: 0;
  left: -290px;

  // Animation
  overflow-x: hidden; // width is 0...so, hide the content.
  transition: $transition-duration;

  // Decoration
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;

  &.isActive {
    left: 0;
    width: 240px;
  }

  @include desktop {
    position: relative;
    left: 0;
  }
}

/*
  Side menu and main
*/
.container {
  display: flex;
  flex-wrap: nowrap;

  // Full screen
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  .sidebarWrapper {
    flex-grow: 0; // Don't grow
    flex-shrink: 0; // Don't shrink
  }

  .mainFlexContainer{
    flex-grow: 1; // Grow
    flex-shrink: 1; // Shrink
  }
}

/*
  Main: Notes and Note
*/
body {
  // Hide. Don't scroll by swiping in X-axis. (OK to scroll in Y-axis)
  overflow-x: hidden;
}

// Apply to both mobile and tablet/desktop screens.
.mainFlexContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  // Full screen
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  & > div {
    height: 100%;
  }
}

// For a mobile screen, line up two boxes and switch between them by changing CSS class.
@include mobile {
  .mainFlexContainer {
    transition: $transition-duration;

    &.note {
      transform: translate(0); // Show the box in the left
    }

    &.notes {
      transform: translate(-100%); // Show the box in the right
    }

    & > div {
      min-width: 100%;
      width: 100%;
    }
  }
}

// For a tablet or bigger screen, display both two boxes.
@include tablet {
  .mainFlexContainer {
    & > div {
      min-width: 50%;
      width: 50%;
      height: 100%;
    }
  }
}
