@import "responsiveness";
@import "variablels_color";
@import "variables_sidebar_icon";
@import "variables_transition";
@import "variablels_size";

/*
 Sidebar (Wrapper)
*/
.sidebarWrapper {
  height: 100%;
  width: $sidebar-size;
  position: fixed;
  z-index: 8; // to be front of the other objects.
  top: 0;
  left: -9 - $sidebar-size;

  // Animation
  overflow-x: hidden; // width is 0...so, hide the content.
  transition: $transition-duration;

  // Decoration
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;

  &.pageNote.isActive {
    // Display by adding isActive class when Note is the current page
    left: 0;

    @include until($sidebar-size + 48px) {
      // When the screen is very small, cover all screen
      width: 100%;
    }
  }

  @include desktop {
    // Always show
    position: relative;
    left: 0;
  }
}

/*
  Side menu and main
*/
.container {
  display: flex;
  flex-wrap: nowrap;

  // Full screen
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  .sidebarWrapper {
    flex-grow: 0; // Don't grow
    flex-shrink: 0; // Don't shrink
  }

  .mainFlexContainer {
    flex-grow: 1; // Grow
    flex-shrink: 1; // Shrink
  }
}

/*
  Main: Notes and Note
*/
body {
  // Hide. Don't scroll by swiping in X-axis. (OK to scroll in Y-axis)
  overflow-x: hidden;
}

// Apply to both mobile and tablet/desktop screens.
.mainFlexContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  // Full screen
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  & > div {
    height: 100%;
  }
}

// For a mobile screen, line up two boxes and switch between them by changing CSS class.
@include mobile {
  .mainFlexContainer {
    transition: $transition-duration;

    &.pageNote {
      transform: translate(0); // Show the box in the left
    }

    &.pageNotes {
      transform: translate(-100%); // Show the box in the right
    }

    & > div {
      min-width: 100%;
      width: 100%;
    }
  }
}

// For a tablet or bigger screen, display both two boxes.
@include tablet {
  .mainFlexContainer {
    & > div {
      min-width: 50%;
      width: 50%;
      height: 100%;
    }
  }
}
