@import "variablels_z_index";

.overlay {
  z-index: $z-index-overlay;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.isActive {
    opacity: 0.8;
    visibility: visible;
  }
}
