@import "../variablels_margin";
@import "../variablels_color";
@import "../variablels_size";

.sidebar {
}

.allNotes {
  // White space
  margin-left: $outer-margin-left-and-right;

  // Design
  color: $link;
  font-size: $font-size-large;
}

