@charset "utf-8";

@import '../node_modules/bulma/sass/utilities/all';
@import '../node_modules/bulma/sass/base/all'; // Apply base styles globally (including mini-reset styles)
@import '../node_modules/bulma/sass/elements/button'; // Use button styles
@import "components/variablels_size";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Standard font size by default
  font-size: $font-size;

  // Hide. Don't scroll by swiping in X-axis. (OK to scroll in Y-axis)
  overflow-x: hidden;
}

// Don't highlight the button when it's selected or clicked. (Remove the light blue outline of buttons on Chrome)
button:focus {
  outline: none;
}
