@import "../../variablels_color";

.buttonBase {
  width: 120px;
  height: 40px;

  border-radius: 8px;
  font-size: inherit; // Override the default size

  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
